:root {
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 3.5rem 6rem;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-list {
    display: flex;
    list-style-type: none; 
    gap: 2rem;
}

.nav-list-item {
    font-weight: 400;
    color: var(--grayish-blue);
    cursor: pointer;
}

.nav-list-item:hover {
    color: var(--soft-orange)
}

.main-page {
    display: grid;
    grid-template-areas: 
            "a a b"
            "c d b"
            "e f g";
    column-gap: 1rem;
    row-gap: 1rem;
}


.main-image {
    width: 100%;
    grid-area: a;
}


.new-stories {
    grid-area: b;
    background-color: var(--very-dark-blue);
    padding: 1.5rem 1rem;
}

.new-stories-header {
    color: var(--soft-orange);
}

.new-story-title {
    color: var(--off-white);
    cursor: pointer;
    padding: 1.5rem 0 0.5rem 0;
}

.new-story-title:hover {
    color: var(--soft-orange);
}

.new-story-text{
    color: var(--grayish-blue);
    padding-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.sub-heading {
    grid-area: c;
    font-size: 3rem;
    font-weight: 800;
    color: var(--very-dark-blue);
}

.sub-story {
    grid-area: d;
    display: grid;
    row-gap: 1.5rem;
}

.sub-story-text {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 400;
}

.sub-story-button {
width: 50%;
background-color: var(--soft-red);
color: var(--off-white);
font-weight: 700;
border: none;
height: 2.5rem;
align-self: self-end;
}

.sub-story-button:hover {
    background-color: var(--very-dark-blue);
}

.bottom-story-one {
    grid-area: e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-story-two {
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-story-three {
    grid-area: g;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-story-image {
    width: 100%;
    height: 10rem;
}

/* .bottom-story-text-container {

} */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}