:root {
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 3.5rem 6rem;
}

main {
    margin-bottom: 5rem;
}

.visually-hidden {
    font-size: 1rem;
    color: transparent;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-list {
    display: flex;
    list-style-type: none; 
    gap: 2rem;
}

.nav-list-item {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.nav-list-item:hover {
    color: var(--soft-orange)
}

.main-page {
    display: grid;
    grid-template-areas: 
            "featured featured new"
            "featured featured new"
            "other other other";
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.featured {
    grid-area: featured;
}

.featured-image {
    width: 100%;
}

.featured-heading {
    font-size: 3rem;
    font-weight: 800;
    color: var(--very-dark-blue);
}

.featured-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.featured-story-text {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    font-weight: 400;
}

.featured-story-text-area {
    padding-top: 0.5rem;
    display: grid;
    row-gap: 1.5rem;
}

.featured-story-button {
width: 50%;
background-color: var(--soft-red);
color: var(--off-white);
font-weight: 700;
border: none;
height: 2.5rem;
align-self: self-end;
}

.featured-story-button:hover {
    background-color: var(--very-dark-blue);
}

.new-articles {
    grid-area: new;
    background-color: var(--very-dark-blue);
    margin-top: 1.2rem;
    padding: 2rem 1.5rem;
}

.new-articles-header {
    color: var(--soft-orange);
}

.new-article-list li {
    border-bottom: 2px solid var(--off-white);
}

.new-article-list li:last-child {
    border-bottom: none;
}

.new-article-title {
    padding: 1.5rem 0 0.5rem 0;
}

.new-article-title a {
    color: var(--off-white);
    text-decoration: none;
}

.new-article-title a:hover {
    color: var(--soft-orange);
}

.new-article-text{
    color: var(--grayish-blue);
    padding-bottom: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.other-articles {
    grid-area: other;
    margin-top: 1rem;
}

.other-articles ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.other-articles li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.other-articles-image {
    width: 80%;
    height: 8rem;
}

.other-articles-text-container {
    grid-column: 2/ span 2;
}

.other-articles-number {
    color: var(--grayish-blue);
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.other-articles-header {
    margin-bottom: 0.5rem;
}

.other-articles-header a {
    color: var(--very-dark-blue);
    font-weight: 700;
    text-decoration: none;
}

.other-articles-header a:hover {
    color: var(--soft-red);
}

.other-articles-text {
    color: var(--grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}